/*
*/
html {
  --f4c: #1c2b33;
  --f5c: #283943;
}
body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: var(--f3c);
}
.__ttip {
  z-index: 99;
  background: var(--f4c);
  color: #fff;
  font-size: 14px;
  padding: calc(var(--dp) * .5) var(--dp);
  font-weight: 500;
  border-radius: calc(var(--dp) * .5);
  box-shadow: 0 2px 2px #0007;
}
.__app-bg {
  background: #FFEB3B;
  backdrop-filter: blur(5px);
  z-index: 1;
  overflow: hidden;
}
.__app-bg .__bg0 {
  height: 15000px;
  width: 15000px;
  background: var(--f1c);
  border-radius: 50%;
  left: -10000px;
  bottom: 0;
  z-index: 4;
}
.__app-bg .__bg1 {
  height: 12000px;
  width: 12000px;
  background: #673AB7;
  border-radius: 50%;
  left: -8000px;
  bottom: 0;
  z-index: 3;
}
.__app-bg .__bg2 {
  height: 9000px;
  width: 9000px;
  background: #2196F3;
  border-radius: 50%;
  left: -6000px;
  bottom: 0;
  z-index: 2;
}
.__app-bg .__bg3 {
  height: 6000px;
  width: 6000px;
  background: var(--f4c);
  border-radius: 50%;
  left: -3000px;
  bottom: 0;
  z-index: 1;
}
.__app-bg:after {
  z-index: 5;
  content: "";
  background: #fffe;
  backdrop-filter: blur(15px);
}
.__app-load {
  z-index: 100;
  background: #0007;
}
app {
  z-index: 2;
}
#sidebar {
  width: calc(var(--dp) * 32);
  padding: calc(var(--dp) * 3) 0 calc(var(--dp) * 4);
  height: calc(100vh - var(--dp) * 8);
  overflow: auto;
}
main {
  height: calc(100vh - var(--dp) * 8);
  overflow: hidden;
}
.sdbMn {
  border-radius: calc(var(--dp) * 1.5);
  margin-top: calc(var(--dp) * 3);
  padding-right: var(--dp);
}
.sdbMn a {
  height: calc(var(--dp) * 6);
  gap: calc(var(--dp) * 1.5);
  padding: 0 calc(var(--dp) * 3);
  color: var(--f4c);
  font-weight: 500;
  font-size: 14px;
  border-radius: 0 calc(var(--dp) * 3) calc(var(--dp) * 3) 0;
}
.sdbMn a.__sdItAc {
  background: #fff;
  color: var(--f4c);
  box-shadow: 2px 2px 2px #0003;
  font-weight: 600;
}
.sdbMn a .teX {
  width: calc(100% - var(--dp) * 4.5);
}
nav {
  background: #fff;
  z-index: 3;
  box-shadow: 0 1px #0001;
  padding: var(--dp) 0;
}
.__brand {
  padding: 0 calc(var(--dp) * 2);
  width: calc(var(--dp) * 32);
  gap: var(--dp);
  height: calc(var(--dp) * 6);
}
.__mnIc {
  width: calc(var(--dp) * 5);
  height: calc(var(--dp) * 5);
}
.__user {
  width: calc(100% - var(--dp) * 32);
  padding: 0 calc(var(--dp) * 3);
}
.__user a {
  height: calc(var(--dp) * 6);
  width: calc(var(--dp) * 6);
  border-radius: 50%;
  background: #0001;
}
.__user img {
  border-radius: 50%;
  height: calc(var(--dp) * 5);
  width: calc(var(--dp) * 5);
}
#content {
  width: calc(100% - var(--dp) * 32);
  height: calc(100vh - var(--dp) * 8);
  overflow: hidden auto;
  padding: calc(var(--dp) * 6) calc(var(--dp) * 3) calc(var(--dp) * 4);
}
.__card {
  background: var(--f3c);
  box-shadow: 0 3px 3px #0003;
  padding: calc(var(--dp) * 3);
  gap: calc(var(--dp) * 2);
  border-radius: calc(var(--dp) * 1.5);
}
.__card-content {
  gap: calc(var(--dp) * 2);
}
.__card h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}
.__card h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.__cardIt {
  width: calc((100% - var(--dp) * 6) / 4);
  gap: var(--dp);
}
.__comp {
  font-size: 14px;
  gap: calc(var(--dp) * .5);
}
.__comp .teX2 {
  font-size: 12px;
  font-weight: 500;
}