/*
*/

app {
  height: 100vh;
  overflow: hidden;
  background: #001018;
  color: #eee;
  width: 100%;
}
.__right-stream {
  width: calc(var(--dp) * 40);
}
.__left-stream {
  width: calc(100% - var(--dp) * 40);
}